node_modules/
changes/
dist/
tmp/

scripts/i18n/extract.candidates.json
scripts/i18n/code-key.map.json

/cli

.playwright/
.playwright-cli/
.claude/skills/_c3_*/
.codex/skills/_c3_*/
.codex/skills/_c3_*
.agents/skills/_c3_*/

_zt_tmp
.pnpm-store/
tsconfig.tsbuildinfo
.DS_Store

